@using IssueManager.Client.Blazor.WASM.Components.Icons

<div class="grid grid-cols-3 gap-6 mt-8">
    <div class="bg-white shadow rounded py-6 flex justify-center items-center text-4xl font-semibold">
        <ChatIcon />
        @data["open"] Opened
    </div>
    <div class="bg-white shadow rounded py-6 flex justify-center items-center text-4xl font-semibold">
        <CogIcon />
        @data["assigned"] Assigned
    </div>
    <div class="bg-white shadow rounded py-6 flex justify-center items-center text-4xl font-semibold">
        <XCircleIcon />
        @data["closed"] Closed
    </div>
</div>

@code {
    [Parameter]
    public Dictionary<string, int> data { get; set; }
}