@inherits LayoutComponentBase
<div class="grid grid-cols-6">
    <div class="sidebar bg-indigo-500 text-white">
        <SideBar />
    </div>
    <div class="main col-span-5 h-screen">
        <div class="heading">
            <SearchBar />
        </div>
        <div class="content px-2">
            @Body
        </div>
    </div>
</div>