@using Domain.Model

<div class="mt-8 text-xl font-bold text-left p-2">Tickets</div>
<div class="overflow-y-auto h-96 border border-gray-200 shadow bg-white rounded p-2">
    <TicketList tickets="@tickets" />
</div>

@code {
    [Parameter]
    public List<Ticket> tickets { get; set; }
}